node_modules
out
next-env.d.ts
.next
.env.local
.pnpm-store
.turbo
.env
apps/core/public/optimized-images
apps/core/remoteImagesForOptimization
apps/core/public/images/next-image-export-optimizer-hashes.json